<template name="layout">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Wiki Eti</a>
        </div>
      </div>
    </nav>
    <div>
      {{> yield}}
    </div>
  </div>
</template>

<template name="postList">
  {{#each post}}
    <a href="{{pathFor 'postPage'}}"> <h3>{{heading}}</h3></a>
  {{/each}}
</template>


<template name="postPage">
  <h3>{{heading}}</h3>
</template>
